# Python
.venv/
venv/
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
backend/fact_check_key.json

# React / Node
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.git

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db
